@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Gupter", serif;
    scroll-behavior: smooth;
}

.icons {
    position: absolute;
    transform-origin: center;
    transform: translate(-50%, -50%);
    top: calc(50% - 125px * cos(calc(var(--i) * calc(360deg / 9))));
    left: calc(50% + 125px * sin(calc(var(--i) * calc(360deg / 9))));
}

.hide {
    width: 300px;
    height: 150px;
    background-color: #282828;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}